#action_bar
  #title.grid_7
    %img{ :src => 'images/title.png' }

  #search.grid_7
    = form_tag '/query' do
      = text_field_tag 'search', @search, :class => "bar"
      = image_submit_tag '/images/search.png', :class => "icon"
