body {
	color: #fff;
  background-color: #000;
  background-image: url('/images/bg-body.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  font-family: 'Cardo', serif;
}

.left { float: left; }
.right { float: right; }
.inline { display: inline; }

a { color: #fff; text-decoration: none; }
a:hover { color: #fff; }
